
body {
  background: radial-gradient(yellow 25%, pink);
}
.container{
}
 #name{
   background-color: grey;
 }

.option{
  background-color: lightgrey;
}
#receipt {
  display: none;
  background-color: lightblue;
}
#submitButton {
  background-color: pink;
}
 .moveRight{
   float: right;

 }
